html, body {
    height: 100%;
}

h3 {
    text-align:center;
}

.topColumn1, .topColumn2 {
    float: left;
    width: 50%;
  }

  .columns {
      height: 50%;
  }
  
  /* Stops the float property from affecting content after the columns */
  .columns:after {
    content: "";
    display: table;
    clear: both;
    height: 50%;
  }

  .bottomColumn1, .bottomColumn2, .bottomColumn3 {
      float: left;
      width: 33.33%;
  }
  #chart{
    text-align: center;
    padding-top: 50px;
  }
  .arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }
  
  .pieBox{
      display: inline-block;
      height: auto;
  }
  
  #mainTooltip {
      position: absolute;
      min-width :90px;
      height: 40px;
      padding: 0 25px 25px 25px; 
      background-color: rgba(0,0,0,0.9);
      pointer-events: none;
      fill: #fff;
      color: #fff; 
      text-anchor: middle;
      text-align: center;
      font-weight: bold;
      z-index: 9999;
  }
  #mainTooltip:before {
      border: solid;
      border-color: rgba(0,0,0,0.9) transparent;
      border-width: 10px 10px 0 10px;
      top: 100%;
      content: "";
      left: 20%;
      position: absolute;
      z-index: 99;
  }
  #mainTooltip.hidden {
      display: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

/* Add shadow effect to chart. If you don't like it, get rid of it. */
svg {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}

body {
	font: 11px sans-serif;
	background-color: #ffffff;
}
        
/* Legend Position Style */
.legend {
	position:absolute;
	left:20px;
	top:30px;
}

.axis text {
	font: 10px sans-serif;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    background: white;
    border: 2px solid black;
    left: 100px;
    padding: 5px;
    border-radius: 5px;
  }

  .d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(43,43,43, 0.8);
    color: #fff;
    border-radius: 2px;
  }

  path:hover {
	fill-opacity: .7;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
  }
  
  .foreground path {
    fill: none;
    stroke: steelblue;
  }
  
  .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
  }
  
  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
  }

  #geoHeadingText, #pcpHeadingText, #bubbleChartText{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
  }

  #barHeadingText, #textHeadingText, #pieHeadingText {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
    padding-top: 10px;
  }


  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}

.ttip {
  position: relative;
  display: inline-block;
  margin-left: 500px;
  /* border-bottom: 1px dotted black; */
}

.ttip .ttext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.ttip:hover .ttext {
  visibility: visible;
}

/* Animation */
/* .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
} */


